# Ignore all datasets except baseline
datasets/*
!datasets/baseline
!datasets/mnist
!datasets/pose
!datasets/seg

# Ignore everything in runs, logs, weights and results folder
runs/*
logs/*
weights/*
results/*
!logs/.gitkeep
!weights/.gitkeep
!results/.gitkeep

# Ignore any folder called runs anywhere in the tree
**/runs/

# Ignore all __pycache__ directories and .pyc files
**/__pycache__/
*.pyc

# Ignore all .cache files
*.cache

*.pt
paper.md
/dec_3_flower_env
/FedYOLO.egg-info
ultraflwr